@font-face {
    font-family: GistLight;
    src: url(font/GistLight.otf);
}

:root {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    flex-basis: 40%;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center;
}

.logo-strip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40% 0 0 0;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.400);
    color: rgb(248, 247, 234);
}

.logo-h {
    padding-top: 13px;
    font-size: 40px;
    font-family: GistLight, Thoma, sans-serif;
}

.background-credits {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: small;
}

.main {
    flex-basis: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-weight: 700;
    max-width: 720px;
}

.form-container {
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-bundl {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 10px;
    font-weight: 100;
    color: rgb(45, 45, 45);
    margin-bottom: 2px;
}

input {
    border-radius: 5px;
    height: 20px;
    border: 1px solid rgb(184, 184, 184);
}



button {
    width: 170px;
    height: 35px;
    margin: 10px 0;
    background-color: rgb(21, 61, 27);
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: rgb(66, 113, 129);
}

.login-link {
    text-decoration: none;
    color: rgb(21, 61, 27);
    font-weight: 700;
}